/* Add fonts to h1h2, body */


* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #242424; */
  background-color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
}

header {
  border-bottom: 0.2rem solid #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2 {
  line-height: 1;
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.grid {
  display: grid;
}

.container {
  max-width: 61.25rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}